<footer id="footer">
  <div class="container">
    <div>390 Congress St. (at Congress &amp; Exchange Streets), Portland, ;Maine &dot; MAP &gt;
    </div>
    <div>
      <a href="tel:+2076539990">(207) 653.9990</a> &dot; <a href="mailto:info@portlandpresshotel.com">info@portlandpresshotel.com</a>
    </div>
  </div>
</footer>