<header id="header" class="container">
  <a href="/" class="logo">
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Escudo_Nacional_Mexicano_en_sello_epoca_Porfirista.png" alt="Press hotel">
  </a>
</header>