@font-face {
  font-family: 'BodoniXT';
  src: url('../fonts/BodoniXT.eot');
  src: url('../fonts/BodoniXT.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BodoniXT.woff2') format('woff2'),
      url('../fonts/BodoniXT.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamBold.eot');
  src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GothamBold.woff2') format('woff2'),
      url('../fonts/GothamBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamMedium.eot');
  src: url('../fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GothamMedium.woff2') format('woff2'),
      url('../fonts/GothamMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamBook.eot');
  src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GothamBook.woff2') format('woff2'),
      url('../fonts/GothamBook.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
