footer#footer {
  background: $gray;
  padding: .5rem 0;
  font-size: 0.8rem;
  font-weight: 700;
  a {
    color: $black;
    text-decoration: none;
  }
  > div {
    display: flex;
    justify-content: space-between;
  }
}