{{!< layout}}
{{#contentFor 'styles'}}
<link rel="stylesheet" href="/css/home.css">
{{/contentFor}}

<section class="hero">
  <div class="slider">

  </div>
  <header class="container">
    <hgroup>
      <h2>HISTORY IN THE MAKING</h2>
      <h4>Portland's newest boutique hotel.</h4>
    </hgroup>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum deserunt culpa expedita, voluptas cumque enim quibusdam vero totam delectus temporibus voluptatum a eos atque eum pariatur consequatur. Architecto, magnam fugit! Laborum, non! Esse officiis laudantium magni in deleniti exercitationem adipisci culpa quisquam numquam, enim amet eius voluptas, iusto earum quod sequi quia voluptatem sunt quasi optio delectus? Optio, dignissimos magnam?</p>
  </header>
</section>
<section class="rooms">
  <div>
    <hgroup>
      <h5>Accommodations</h5>
      <h2>Hollowood, meet industrial chic</h2>
    </hgroup>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio provident cupiditate voluptatibus quidem, deleniti optio quo repellendus, qui beatae corporis placeat velit et a, atque cumque eaque unde omnis tenetur.</p>
    <footer>
      <a href="/rooms">view rooms</a>
    </footer>
  </div>
  <figure>
    <img src="/img/foo.png" alt="Hollowood, meet industrial chic">
  </figure>
</section>
<section class="events">
  <h4>this month's most anticipated events</h4>
  <div>
    <div class="event">
      <figure>
        <img src="/img/event.jpg" alt="8 nov">
      </figure>
      <time>8<span>nov</span></time>
    </div>
    <div class="event">
      <figure>
        <img src="/img/event.jpg" alt="8 nov">
      </figure>
      <time>16<span>nov</span></time>
    </div>
    <div class="event">
      <figure>
        <img src="/img/event.jpg" alt="8 nov">
      </figure>
      <time>25<span>nov</span></time>
    </div>
    <div class="event">
      <figure>
        <img src="/img/event.jpg" alt="8 nov">
      </figure>
      <time>30<span>nov</span></time>
    </div>
  </div>
</section>