{{!< layout}}
{{#contentFor 'styles'}}
<link rel="stylesheet" href="/css/home.css">
{{/contentFor}}

<section class="hero">
  <div class="siema">
    <div class="slider">
      <div>
        <picture>
          <img sizes="(max-width: 1680px) 100vw, 1680px" srcset="
        /img/slider_1,w_440.jpg 440w,
        /img/slider_1,w_829.jpg 829w,
        /img/slider_1,w_1119.jpg 1119w,
        /img/slider_1,w_1363.jpg 1363w,
        /img/slider_1,w_1569.jpg 1569w,
        /img/slider_1,w_1680.jpg 1680w" src="/img/slider_1,w_1680.jpg" alt="">
        </picture>
      </div>
      <div>
        <picture>
          <img sizes="(max-width: 1680px) 100vw, 1680px" srcset="
        /img/slider_1,w_440.jpg 440w,
        /img/slider_1,w_829.jpg 829w,
        /img/slider_1,w_1119.jpg 1119w,
        /img/slider_1,w_1363.jpg 1363w,
        /img/slider_1,w_1569.jpg 1569w,
        /img/slider_1,w_1680.jpg 1680w" src="/img/slider_1,w_1680.jpg" alt="">
        </picture>
      </div>
      <div>
        <picture>
          <img sizes="(max-width: 1680px) 100vw, 1680px" srcset="
        /img/slider_1,w_440.jpg 440w,
        /img/slider_1,w_829.jpg 829w,
        /img/slider_1,w_1119.jpg 1119w,
        /img/slider_1,w_1363.jpg 1363w,
        /img/slider_1,w_1569.jpg 1569w,
        /img/slider_1,w_1680.jpg 1680w" src="/img/slider_1,w_1680.jpg" alt="">
        </picture>
      </div>
      <div>
        <picture>
          <img sizes="(max-width: 1680px) 100vw, 1680px" srcset="
        /img/slider_1,w_440.jpg 440w,
        /img/slider_1,w_829.jpg 829w,
        /img/slider_1,w_1119.jpg 1119w,
        /img/slider_1,w_1363.jpg 1363w,
        /img/slider_1,w_1569.jpg 1569w,
        /img/slider_1,w_1680.jpg 1680w" src="/img/slider_1,w_1680.jpg" alt="">
        </picture>
      </div>
    </div>
    <div class="controls">
      <span class="prev">prev</span>
      <span class="next">next</span>
    </div>
  </div>
  <header class="container">
    <hgroup>
      <h2 class="bonodix">HISTORY IN THE MAKING</h2>
      <h4 class="bonodix">Portland's newest boutique hotel.</h4>
    </hgroup>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, tenetur debitis animi architecto voluptas asperiores veritatis? Corporis vero dolorem illum quae quaerat! Odio architecto iusto aperiam sint, quisquam sequi sapiente!
    Dolorem dignissimos expedita voluptates laudantium facilis accusantium nulla, voluptatibus, inventore, modi earum asperiores velit vitae officia culpa. Rem enim, ea quos, cumque inventore aperiam deleniti recusandae similique iure, ex ipsa!
    Quo delectus laudantium quaerat incidunt rem repellat eligendi, quod provident ullam veniam voluptatibus et minima! Hic in possimus assumenda velit incidunt veritatis, facere doloribus temporibus dolorem tenetur alias consequatur maxime?
    Sunt maxime molestiae eos rerum repellat deleniti assumenda totam.</p>
  </header>
</section>
<section class="rooms">
  <div class="container">
    <div class="row gutter">
      <div class="col--d-5 info">
        <hgroup>
          <h5>Accommodations</h5>
          <h2>Hollowood, meet industrial chic</h2>
        </hgroup>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio provident cupiditate voluptatibus quidem, deleniti optio quo repellendus, qui beatae corporis placeat velit et a, atque cumque eaque unde omnis tenetur.</p>
        <footer>
          <a class="button" href="/rooms">view rooms</a>
        </footer>
      </div>
      <figure class="col--d-7">
        <img src="https://a0.muscache.com/im/pictures/a1d6949e-dc2a-40d8-84cf-47e5e55d92d2.jpg?aki_policy=large" alt="Hollowood, meet industrial chic">
      </figure>
    </div>
  </div>
</section>
<section class="events container">
  <h4>this month's most anticipated events</h4>
  <div class="row gutter">
    <div class="event col--d-3">
      <figure>
        <picture>
          <img
          sizes="(max-width: 400px) 100vw, 400px"
          srcset="
          /img/event,w_300.jpg 300w,
          /img/event,w_400.jpg 400w"
          src="/img/event,w_400.jpg"
          alt="8 nov">
        </picture>
      </figure>
      <time>8 <span>nov</span></time>
    </div>
    <div class="event col--d-3">
      <figure>
        <picture>
          <img
          sizes="(max-width: 400px) 100vw, 400px"
          srcset="
          /img/event2,w_300.jpg 300w,
          /img/event2,w_400.jpg 400w"
          src="/img/event2,w_400.jpg"
          alt="8 nov">
        </picture>
      </figure>
      <time>16 <span>nov</span></time>
    </div>
    <div class="event col--d-3">
      <figure>
        <picture>
          <img
          sizes="(max-width: 600px) 100vw, 600px"
          srcset="
          /img/event3,w_350.jpg 350w,
          /img/event3,w_600.jpg 600w"
          src="/img/event3,w_600.jpg"
          alt="8 nov">
        </picture>
      </figure>
      <time>25 <span>nov</span></time>
    </div>
    <div class="event col--d-3">
      <figure>
        <img src="http://via.placeholder.com/830x550" alt="8 nov">
      </figure>
      <time>30 <span>nov</span></time>
    </div>
  </div>
</section>
<section class="book">
  <form>
    <h2>book now</h2>
    <fieldset>
      <label for="">arrival date</label>
      <div class="input-wrapper">
        <input type="text" placeholder="Thurs, November 29">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M492 60.163h-98.489V40c0-11.046-8.954-20-20-20s-20 8.954-20 20v20.163H158.489V40c0-11.046-8.954-20-20-20s-20 8.954-20 20v20.163H20c-11.046 0-20 8.955-20 20V472c0 11.045 8.954 20 20 20h472c11.046 0 20-8.955 20-20V80.163c0-11.045-8.954-20-20-20zM472 452H40V100.163h78.489v20.164c0 11.046 8.954 20 20 20s20-8.954 20-20v-20.164H353.51v20.164c0 11.046 8.954 20 20 20s20-8.954 20-20v-20.164H472V452z"/><circle cx="256" cy="234.95" r="27"/><circle cx="256" cy="352.46" r="27"/><circle cx="138.49" cy="234.95" r="27"/><circle cx="373.51" cy="234.95" r="27"/><circle cx="138.49" cy="352.46" r="27"/><circle cx="373.51" cy="352.46" r="27"/></svg>
      </div>
    </fieldset>
    <fieldset>
      <label for="">departure date</label>
      <div class="input-wrapper">
        <input type="text" placeholder="Sat, December 1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M492 60.163h-98.489V40c0-11.046-8.954-20-20-20s-20 8.954-20 20v20.163H158.489V40c0-11.046-8.954-20-20-20s-20 8.954-20 20v20.163H20c-11.046 0-20 8.955-20 20V472c0 11.045 8.954 20 20 20h472c11.046 0 20-8.955 20-20V80.163c0-11.045-8.954-20-20-20zM472 452H40V100.163h78.489v20.164c0 11.046 8.954 20 20 20s20-8.954 20-20v-20.164H353.51v20.164c0 11.046 8.954 20 20 20s20-8.954 20-20v-20.164H472V452z"/><circle cx="256" cy="234.95" r="27"/><circle cx="256" cy="352.46" r="27"/><circle cx="138.49" cy="234.95" r="27"/><circle cx="373.51" cy="234.95" r="27"/><circle cx="138.49" cy="352.46" r="27"/><circle cx="373.51" cy="352.46" r="27"/></svg>
      </div>
    </fieldset>
    <fieldset>
      <label class="col--d-12" for="">guests</label>
      <div class="row gutter">
        <div class="input-wrapper col--d-6">
          <input type="text" placeholder="1 adult">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.344 185.344"><path d="M92.672 144.373a10.707 10.707 0 0 1-7.593-3.138L3.145 59.301c-4.194-4.199-4.194-10.992 0-15.18a10.72 10.72 0 0 1 15.18 0l74.347 74.341 74.347-74.341a10.72 10.72 0 0 1 15.18 0c4.194 4.194 4.194 10.981 0 15.18l-81.939 81.934a10.694 10.694 0 0 1-7.588 3.138z" fill="#010002"/></svg>
        </div>
        <div class="input-wrapper col--d-6">
          <input type="text" placeholder="1 child">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.344 185.344"><path d="M92.672 144.373a10.707 10.707 0 0 1-7.593-3.138L3.145 59.301c-4.194-4.199-4.194-10.992 0-15.18a10.72 10.72 0 0 1 15.18 0l74.347 74.341 74.347-74.341a10.72 10.72 0 0 1 15.18 0c4.194 4.194 4.194 10.981 0 15.18l-81.939 81.934a10.694 10.694 0 0 1-7.588 3.138z" fill="#010002"/></svg>
        </div>
      </div>
    </fieldset>
    <p class="bonodix">GET READY! You are about to get our best price. Guaranteed.</p>
    <fieldset class="footer center">
      <button class="button">let's go</button>
    </fieldset>
    <p class="group">Or, book your group -></p>
  </form>
  <div class="booknow">book now</div>
</section>

{{#contentFor 'scripts'}}
<script src="/js/home.js"></script>
{{/contentFor}}