<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Press hotel</title>
  {{{block "styles"}}}
</head>
<body>
  {{> header}}

  <main role="main" class="{{ className }}">
    {{{ body }}}
  </main>

  {{> footer}}
  {{{block 'scripts'}}}
</body>
</html>
